.aboutnav a {
    text-decoration: none;
}

.prodetails {
    height: 50vh;
    width: 70vw;
    display: flex;
    justify-content: space-around;
    z-index: 2;
    margin: 0;
}

.prodetails>* {
    width: 20vw;
    z-index: 2;
}

#gibson {
    font-style: italic;
    font-family: system-ui;
    font-size: larger;
    padding-left: 3vw;
    z-index: 2;
    width: 40vw;
    position: absolute;
    left: 28%;
    top: 22%;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

#officeimg {
    margin: 0px;
    width: 100vw;
    position: relative;
    right: 125%;
    opacity: 60%;
}