.contactnav a {
    text-decoration: none;
    color: white;
}
.contactnav {
    background-color: rgb(37, 29, 29);
    width: 100vw;
}

#officecomms {
    position: relative;
    z-index: 1;
    width: 100vw;
    opacity: 58%;
}

#wedlove {
    color: black;
    font-size: xx-large;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    z-index: 2;
    bottom: 62%;
    left: 40%;
    text-shadow: 1px 1px 5px  black;
}

.content {
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    z-index: 2;
}

#contactdetails {
    font-style: italic;
    color: black;
    font-size: x-large;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 2vw;
    padding-left: 3vw;
    position: absolute;
    z-index: 2;
    bottom: 50%;
    left: 20%;
    text-shadow: 1px 1px 5px  black;
}
@media screen and (max-width: 412px) {
    #officecomms {
    position: relative;
    z-index: 1;
    width: 358vw;
    opacity: 58%;
    right: 116%;
    }
  }
  /* לא הבנתי למה זה לא עבד כוסעמק */