.aboutnav a {
    text-decoration: none;
    color: white;
}

.aboutnav {
    background-color: rgb(37, 29, 29);
    width: 100vw;
}

.container {
    height: 50vh;
    width: 70vw;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.container>* {
    width: 20vw;
    z-index: 2;
    background-size: contain;
}

#officeworks {
    font-style: italic;
    font-family: system-ui;
    font-size: larger;
    font-weight: 600;
    padding-left: 12vw;
    z-index: 2;
    width: 47vw;
    text-align: left;
    text-shadow: 1px 1px 5px white;
    padding-top: 14vh;
}

#officeimg {
    margin: 0px;
    width: 100vw;
    opacity: 58%;
}

.abuyacontain {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

@media screen and (max-width: 412px) {
    #officeimg {
        margin: 0px;
        width: 331vw;
        opacity: 58%;
    }

    #officeworks {
        font-style: italic;
        font-family: system-ui;
        font-size: medium;
        font-weight: 600;
        padding-left: 4vw;
        z-index: 2;
        width: 51vw;
        text-align: left;
        text-shadow: 1px 1px 5px white;
        padding-top: 5vh;
        padding-left: 6vw;
    }

    .container {
        height: 50vh;
        width: 77vw;
        display: flex;
        justify-content: space-around;
        margin: 0;
    }
}