.calendarcontainerincalendarpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}
.calendarincalendarpage {
    display: flex;
    align-items: center;

}
.calendarincalendarpage>*{
    margin: 4%;
}
.calendar select{
    padding: 2%
}

#semek{
    font-size: large;
    padding: 3%;
    border-style: none;
    color: white;
    background-color: rgb(62, 50, 50);
}
#semek:hover{
    background-color: gray;
    color: rgb(62, 50, 50);
}