.contactnav a {
  text-decoration: none;
  color: white;
}
.contactnav {
  background-color: rgb(37, 29, 29);
  width: 100vw;
}

#fleximgdescriptionclass {
  display: flex;
  justify-content: space-around;
  height: 9vh;
}

#classimgclass3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#classimgclass3 img {
  object-fit: fill;
  height: auto;
  width: 45vw;
  padding-top: 4vh;
  padding-left: 4vw;
}

#classinfoclass3 {
  text-align: left;
  font-size: xx-large;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  padding-right: 54vw;
}

#officeinfoclass3 {
  width: 40%;
  text-align: left;
  font-size: x-large;
  display: flex;
  padding-left: 5vw;
  font-style: italic;
}

h3 {
  text-align: start;
}

li {
  list-style-type: none;
  text-align: start;
}

#class3cancellation {
  font-size: large;
  display: flex;
  flex-direction: column;
  padding-left: 8vw;
  padding-top: 14vh;
}

#class3availability {
  font-size: xxx-large;
}

#class3availabilitydescription {
  font-style: italic;
}

#class3availabilitycontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 13vw;
}

.calendarcontainerinclass3page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 5vw;
}

#calendarinclass3page {
  display: flex;
  justify-content: center;
  padding-right: 7vw;
  padding-top: 6vh;
}

#calendarinclass3page select {
  padding: 3%;
  margin: 3%;
}

.amenitiesclass3 {
  padding-top: 12vh;
  font-size: x-large;
  font-weight: 600;
}

.amenitieslistclass3 {
  padding-top: 2vh;
  font-size: larger;
  font-family: system-ui;
  font-style: italic;
}
@media screen and (max-width: 412px) {

  #officeinfoclass3 {
    width: 80vw;
    text-align: left;
    font-size: large;
    display: flex;
    padding-left: 53vw;
    font-style: italic;
    height: 18vh;
    flex-direction: row;
  }

  #classimgclass3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 75vw;
    padding-top: 31vh;
  }

  #classimgclass3 img {
    width: 70vw;
    padding-top: 4vh;
    padding-left: 54vw;
  }

  #classimgclass3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 54vw;
    padding-top: 2vh;
  }

  #classinfoclass3 {
    text-align: left;
    font-size: xx-large;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    width: 81vw;
    padding-left: 9vw;
  }

  #calendarinclass3page {
    display: flex;
    justify-content: center;
    padding-right: 7vw;
    padding-top: 6vh;
    flex-direction: column;
    padding-left: 7vw;
  }
  #class3cancellation {
    font-size: large;
    display: flex;
    flex-direction: column;
    padding-left: 8vw;
    padding-top: 14vh;
    padding-right: 10vw;
  }
  .contactnav {
   width: max-content;
  }
  #class3availabilitycontainer {
    display: flex;
    flex-direction: column;
    padding-right: 5vw;
    align-items: stretch;
  }
  .amenitiesclass3 {
    padding-top: 5vh;
  }
}