#fleximgdescriptionclass {
  display: flex;
  justify-content: space-around;
  height: 9vh;
}

#classimg {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#classimg img {
  object-fit: fill;
  height: auto;
  width: 45vw;
  padding-top: 4vh;
  padding-left: 4vw;
}

#classinfo {
  text-align: left;
  font-size: xx-large;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  padding-right: 54vw;
}

#officeinfoclass {
  width: 40%;
  text-align: left;
  font-size: x-large;
  display: flex;
  padding-left: 5vw;
  font-style: italic;
}

h3 {
  text-align: start;
}

li {
  list-style-type: none;
  text-align: start;
}

#classcancellation {
  font-size: large;
  display: flex;
  flex-direction: column;
  padding-left: 8vw;
  padding-top: 14vh;
}

#classavailability {
  font-size: xxx-large;
}

#classavailabilitydescription {
  font-style: italic;
}

#classavailabilitycontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 22vh;
  padding-right: 13vw;
}

.calendarcontainerinclasspage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 5vw;
  width: fit-content;
}

#calendarinclasspage {
  display: flex;
  justify-content: center;
  padding-right: 7vw;
  padding-top: 6vh;
}
#calendarinclasspage select {
  padding: 3%;
  margin: 3%;
}