.homebnav a {
  text-decoration: none;
  color: white;
}
.homebnav {
  background-color: rgb(37, 29, 29);
  width: 100vw;
}

#mainhomeimg {
  min-height: 800px;
  width: 100vw;
  background-image: url("http://netpes.net/lior/pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

#flexendhome {
  display: flex;
  justify-content: space-between;
}

#flexicons {
  display: flex;
  align-items: center;
  width: 50vw;
}

#info {
  width: 50vw;
}

.icons {
  width: 100px;
  height: 50px;
  color: rgb(3, 3, 3);
}
