.homebnav a {
  text-decoration: none;
  color: white;
}

.homebnav {
  background-color: rgb(37, 29, 29);
  width: 100vw;
}

#mainhomeimg {
  min-height: 667px;
  width: 100vw;
  background-image: url("http://netpes.net/lior/pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#flexendhome {
  display: flex;
  justify-content: space-between;
}

#flexicons {
  display: flex;
  align-items: center;
  width: 50vw;
}

#info {
  width: 50vw;
}

.icons {
  width: 100px;
  height: 50px;
  color: rgb(3, 3, 3);
}
.companyfront {
  padding-top: 2vh;
}
.companyfront h5 {
  font-style: italic;
  text-align: left;
  display: flex;
  justify-content: center;
  font-family: math;
}
#vacancy {
  text-align: center;
}

@media screen and (max-width: 412px) {
  #mainhomeimg {
    min-height: 667px;
    width: 100vw;
    background-image: url(http://netpes.net/lior/pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  #flexicons {
    display: flex;
    align-items: flex-start;
    width: 50vw;
    flex-direction: column;
    justify-content: space-around;
  }
  #info {
    width: 123vw;
    padding-right: 5vw;
  }
}
