#fleximgdescriptionlecture {
    display: flex;
    justify-content: space-around;
  }
  
  #lectureimg img {
    object-fit: fill;
    height: auto;
    width: 45vw;
    position: absolute;
    z-index: 2;
    right: 6%;
    top: 18%;
  }
  
  #lectureinfo {
    text-align: left;
    position: relative;
    right: 11%;
    font-size: xx-large;
    font-family: sans-serif;
  }
  
  #officeinfolecture {
    position: absolute;
    right: 56%;
    bottom: 68%;
    width: 40%;
    text-align: left;
    font-size: x-large;
    top: 48%;
    font-style: italic;
  }
  
  h3 {
    text-align: start;
  }
  
  li {
    list-style-type: none;
    text-align: start;
  }
  
  #lecturecancellation {
    position: absolute;
    top: 200%;
    left: 9%;
    font-size: large;
  }
  
  #lectureavailability {
    position: absolute;
    top: 130%;
    font-size: xxx-large;
    right: 60%;
  }
  #lectureavailabilitydescription{
    position: absolute;
    right: 55%;
    top: 140%;
    font-style: italic;
  }
  #lectureavailabilitycontainer {
    display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 8vw;
      padding-top: 55vh;
  }