.contactnav a {
  text-decoration: none;
  color: white;
}
.contactnav {
  background-color: rgb(37, 29, 29);
  width: 100vw;
}

#fleximgdescriptionlecture2 {
  display: flex;
  justify-content: space-around;
  height: 9vh;
}

#lecture2img {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#lecture2img img {
  object-fit: fill;
  height: auto;
  width: 45vw;
  padding-top: 4vh;
  padding-left: 4vw;
}

#lecture2info {
  text-align: left;
  font-size: xx-large;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  padding-right: 46vw;
}

#officeinfolecture2 {
  width: 40%;
  text-align: left;
  font-size: x-large;
  display: flex;
  padding-left: 5vw;
  font-style: italic;
}

h3 {
  text-align: start;
}

li {
  list-style-type: none;
  text-align: start;
}

#lecture2cancellation {
  font-size: large;
  display: flex;
  flex-direction: column;
  padding-left: 8vw;
  padding-top: 14vh;
}

#lecture2availability {
  font-size: xxx-large;
}

#lecture2availabilitydescription {
  font-style: italic;
}

#lecture2availabilitycontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 22vh;
  padding-right: 13vw;
}

.calendarcontainerinlecture2page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 5vw;
}

#calendarinlecture2page {
  display: flex;
  justify-content: center;
  padding-right: 7vw;
  padding-top: 6vh;
}

#calendarinlecture2page select {
  padding: 3%;
  margin: 3%;
}

.amenitieslecture2 {
  padding-top: 12vh;
  font-size: x-large;
  font-weight: 600;
}

.amenitieslistlecture2 {
  padding-top: 2vh;
  font-size: larger;
  font-family: system-ui;
  font-style: italic;
}

@media screen and (max-width: 412px) {

  #officeinfolecture2 {
    width: 80vw;
    text-align: left;
    font-size: large;
    display: flex;
    padding-left: 53vw;
    font-style: italic;
    height: 18vh;
    flex-direction: row;
  }

  #classimglecture2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 75vw;
    padding-top: 31vh;
  }

  #classimglecture2 img {
    width: 70vw;
    padding-top: 4vh;
    padding-left: 54vw;
  }

  #classimglecture2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 54vw;
    padding-top: 31vh;
  }

  #classinfolecture2 {
    text-align: left;
    font-size: xx-large;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    width: 81vw;
    padding-left: 32vw;
  }

  #calendarinlecture2page {
    display: flex;
    justify-content: center;
    padding-right: 7vw;
    padding-top: 6vh;
    flex-direction: column;
    padding-left: 7vw;
  }
  #lecture2cancellation {
    font-size: large;
    display: flex;
    flex-direction: column;
    padding-left: 8vw;
    padding-top: 14vh;
    padding-right: 10vw;
  }
  .contactnav {
   width: max-content;
  }
  #lecture2availabilitycontainer {
    display: flex;
    flex-direction: column;
    padding-right: 5vw;
    align-items: stretch;
    padding-top: 0;
  }
  .amenitieslecture2 {
    padding-top: 5vh;
  }
  #lecture2info {
    padding-right: 19vw;
    padding-left: 11vw;
  }
  #lecture2img {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32vh;
    padding-right: 50vw;
  }
  #lecture2img img {
    object-fit: fill;
    height: auto;
    width: 81vw;
    padding-top: 1vh;
    padding-left: 50vw;
  }
}