.contactnav a {
  text-decoration: none;
  color: white;
}
.contactnav {
  background-color: rgb(37, 29, 29);
  width: 100vw;
}

#fleximgdescriptionclass {
    display: flex;
    justify-content: space-around;
    height: 9vh;
  }
  
  #classimg {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  #classimg img {
    object-fit: fill;
    height: auto;
    width: 45vw;
    padding-top: 4vh;
    padding-left: 4vw;
  }
  
  #classinfo {
    text-align: left;
    font-size: xx-large;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    padding-right: 54vw;
  }
  
  #officeinfoclass {
    width: 40%;
    text-align: left;
    font-size: x-large;
    display: flex;
    padding-left: 5vw;
    font-style: italic;
  }
  
  h3 {
    text-align: start;
  }
  
  li {
    list-style-type: none;
    text-align: start;
  }
  
  #classcancellation {
    font-size: large;
    display: flex;
    flex-direction: column;
    padding-left: 8vw;
    padding-top: 14vh;
  }
  
  #classavailability {
    font-size: xxx-large;
  }
  
  #classavailabilitydescription {
    font-style: italic;
  }
  
  #classavailabilitycontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 13vw;
  }
  
  .calendarcontainerinclasspage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 5vw;
  }
  
  #calendarinclasspage {
    display: flex;
    justify-content: center;
    padding-right: 7vw;
    padding-top: 6vh;
  }
  
  #calendarinclasspage select {
    padding: 3%;
    margin: 3%;
  }
  
  .amenities {
    padding-top: 12vh;
    font-size: x-large;
    font-weight: 600;
  }
  
  .amenitieslist {
    padding-top: 2vh;
    font-size: larger;
    font-family: system-ui;
    font-style: italic;
  }

  #roombutton {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font-weight: 600;
    margin-top: 6vh;
    margin-bottom: 8vh;
    padding: 3%;
    border-style: none;
    color: white;
    background-color: rgb(62, 50, 50);
  }
  #roombutton a {
    text-decoration: none;
    color: white;
  }

  #roombutton:hover {
    background-color: gray;
    color: rgb(62, 50, 50);
  }
  
@media screen and (max-width: 412px) {

  #officeinfoclass {
    width: 80vw;
    text-align: left;
    font-size: large;
    display: flex;
    padding-left: 53vw;
    font-style: italic;
    height: 18vh;
    flex-direction: row;
  }

  #classimgclass {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 75vw;
    padding-top: 31vh;
  }

  #classimgclass img {
    width: 70vw;
    padding-top: 4vh;
    padding-left: 54vw;
  }

  #classimgclass {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 54vw;
    padding-top: 31vh;
  }

  #classinfoclass {
    text-align: left;
    font-size: xx-large;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    width: 81vw;
    padding-left: 32vw;
  }

  #calendarinclasspage {
    display: flex;
    justify-content: center;
    padding-right: 7vw;
    padding-top: 6vh;
    flex-direction: column;
    padding-left: 7vw;
  }
  #classcancellation {
    font-size: large;
    display: flex;
    flex-direction: column;
    padding-left: 8vw;
    padding-top: 14vh;
    padding-right: 10vw;
  }
  .contactnav {
   width: max-content;
  }
  #classavailabilitycontainer {
    display: flex;
    flex-direction: column;
    padding-right: 5vw;
    align-items: stretch;
  }
  .amenitiesclass {
    padding-top: 5vh;
  }
  #classinfo {
        padding-right: 0;
        padding-left: 11vw;
  }
  #classimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25vh;
    padding-right: 49vw;
  }
  #classimg img {
    object-fit: fill;
    height: auto;
    width: 81vw;
    padding-top: 4vh;
    padding-left: 51vw;
  }
}